@charset "UTF-8";
@import "initial";

// 載入思源宋體 Medium
// font-family: 'Noto Serif TC', serif;
// font-weight: 500;

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@400;700&display=swap');


*{
  box-sizing: border-box;
  transition: padding 0.3s, top 0.3s, width 0.3s, max-width 0.3s, border-radius 0.3s;
}

.ossian{
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  padding: 2em 1em;
  max-width: 1920px;
  width: 100%;
  min-height: 100%;
  font-family: 'Noto Serif TC', serif;
  font-weight: 500;
  background-color: #49ab62;
  background-image: url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  em{
    font-style: normal;
  }
}

.kv{
  position: relative;
  // padding-bottom: 5em;
}

// 童話世界的 LOGO

.game-logo{
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  img{
    margin: 0 auto;
    padding: 1em 0 2em;
    max-width: 312px;
    width: 100%;
  }
}

// 角色圖

.roles{
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  li{
    position: absolute;
    // 豬
    // &:nth-child(1){
    //   top: 70px;
    //   left: calc(50% - 750px);
    // }
    // 人類-女
    // &:nth-child(2){
    //   top: -190px;
    //   left: calc(50% - 720px);
    // }
    // 兔子
    // &:nth-child(3){
    //   top: 240px;
    //   left: calc(50% + 420px);
    // }
    // 鳳梨
    // &:nth-child(4){
    //   top: 140px;
    //   left: calc(50% + 550px);
    // }
  }
}

// 遊戲內容

// .game-content{
//   padding-bottom: 5em;
// }
.game-description{
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1em 1em 1.75em;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: white;
  border-radius: 0.75em;
  box-shadow: -1px -1px 1px rgba(102, 60, 45, 0.4) inset;
  &::before{
    content: '';
    position: absolute;
    top: -4px;
    left: -5px;
    width: 64px;
    height: 69px;
    background-image: url(../images/grass-1.png);
    background-repeat: no-repeat;
  }
  &::after{
    content: '';
    position: absolute;
    bottom: -5px;
    right: -6px;
    width: 64px;
    height: 69px;
    background-image: url(../images/grass-2.png);
    background-repeat: no-repeat;
  }
}
.game-title-row{
  flex: 1;
  color: #7e38a3;
  font-size: 1.385em;
}
.game-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  em{
    position: relative;
    display: block;
    font-size: 1.3333333em;
    &::before{
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 40%;
      background-color: #ccfbfe;
      mix-blend-mode: multiply;
    }
  }
}
.game-end-date-row{
  padding: 0.65em 0 1em;
  color: #a35638;
}
.form-position{
  margin: 0 auto;
  max-width: 200px;
  width: 100%;
}
.form-zone{
  position: relative;
  max-width: 350px;
  width: 100%;
  .input-text{
    padding: 0 0 0.5em;
    min-height: unset;
  }
  input[type="text"],
  input[type="password"]{
    margin-bottom: 0.5em;
    padding: 0.25em 0.5em;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 5px;
  }
}
.btn{
  font-size: unset;
  &.submit{
    width: 100%;
    font-size: 1em;
  }
  &.custom{
    padding: 0.35em 0.75em 0.55em;
    color: white;
    background: rgb(242,137,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(242,137,255,1) 0%, rgba(200,82,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(242,137,255,1) 0%,rgba(200,82,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(242,137,255,1) 0%,rgba(200,82,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f289ff', endColorstr='#c852ff',GradientType=0 ); /* IE6-9 */
    border: 1px solid #c75ff2;
    border-radius: 14px;
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.75) inset;
    &.submit{
      letter-spacing: 10px;
    }
  }
}
.front,
.back{
  font-weight: 700;
  font-size: 1.625em;
}
.close{
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background-image: url(../images/close.png);
  background-repeat: no-repeat;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

// popup

.popup-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
}

.popup-overlay.active {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}

.popup-content {
  position: relative;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  padding: 2em 1em;
  color: #8e523c;
  width: 100%;
  max-width: 350px;
  font-weight: 800;
  line-height: 1.5;
  border-radius: 1em;
  background-color: #fcecdf;
  box-shadow: 0 0 40px #e9c6a5 inset, -1px -1px 1px rgba(102, 60, 45, 0.65) inset;
  transition: opacity 0.3s 0, top 0.3s;

  &:target{
    display: flex;
  }

  h3{
    margin: 0;
    font-size: 1.25em;
    text-align: center;
    background-image: url(../images/dot.png);
    background-repeat: repeat-x;
    background-position: center;
    span{
      display: inline-block;
      padding: 0 0.75em;
      background-color: #fcecdf;
    }
  }

  p{
    &:nth-child(1){
      margin-top: 0;
    }
  }

  .popup-close-style{
    position: absolute;
    top: 10px;
    right: 10px;
    display: block;
    font-size: 1.625em;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background-image: url(../images/close.png);
    background-repeat: no-repeat;
    background-size: 100%;
    // box-shadow: 0 3px 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
  .popup-close{
    font-size: 1.625em;
  }
}

// footer

.footer,
.footer *{
  font-family: $document-font-family;
  line-height: 1.25;
}
.footer{
  display: flex;
  // grid-template-columns: 1fr 1fr;
  // gap: 3rem;
  margin: 0 auto;
  padding: 0;
  // padding-top: 30em;
  max-width: 1700px;
  width: 100%;
}
.account-password{
  color: #b1ff9f;
  font-size: 1.25em;
  list-style-type: cjk-ideographic;
  .note{
    padding: 1em 0;
    color: black;
    font-size: 0.8em;
    // line-height: 1.5;
    mark{
      background-color: white;
      &.white{
        background-color: white;
      }
      &.green{
        color: white;
        background-color: #2a6a43;
        em{
          color: #affcff;
        }
      }
    }
  }
}

// 遊戲分級標章

.lgr-rkr{
  padding: 2em 0;
}
.game-grading{
  display: grid;
  // grid-template-columns: 90px 1fr;
  gap: 1em;
  margin: 0;
  padding: 0;
  dd{
    margin: 0;
    img{
      max-height: 90px;
      height: 100%;
    }
    ul{
      margin: 0;
      padding-left: 2em;
      li{
        padding-left: 0;
      }
    }
  }
}

// 雷爵及搖滾火箭

.lager-rocker{
  display: grid;
  // grid-template-columns: 1fr 2.5fr;
  // gap: 1em;
  margin: 0;
  // padding: 1em;
  color: #97d788;
  background-color: #479564;
  border-radius: 10px;
  dd{
    margin: 0;
    padding: 0;
  }
}

.lager-rocker-logo{
  display: flex;
  // flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 1em;
  margin: 0;
  padding: 0;
  list-style: none;
  li{
    max-height: 33px;
    a{
      display: block;
      text-decoration: none;
      img{
        height: 100%;
      }
    }
  }
}

// LRG 客服中心、FB粉絲團、巴哈姆特

.lrg-fb-gamer{
  display: flex;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
  list-style: none;
  li{
    padding: 0 1em;
    border-right: 1px solid #b1ff9f;
    &:nth-child(1){
      padding-left: unset;
    }
    &:nth-last-child(1){
      padding-right: unset;
      border-right: unset;
    }
    a{
      color: black;
      text-decoration: none;
      transition: color 0.3s, border-bottom 0.3s;
      &:hover{
        color: #b1ff9f;
        border-bottom: 1px dotted #b1ff9f;
      }
    }
  }
}

// 櫻花
.sakura img{
    width:50px;
    height:50px;
    margin-top:-5%;
    /* opacity: 0.75; */
    filter: blur(1px);
    position: fixed;
    z-index: 1;
    transform:rotate3d(.6,1,.6,45deg);
}

// 複製序號

.copy-number-position{
  padding: 1em 0;
  em{
    color: #9b38c9;
  }
}
.copy-number{
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 60px;
  width: 100%;
  background-color: white;
  border: 1px solid white;
  border-radius: 5px;
  input[type="text"]{
    padding: 0.25em 0.35em;
    color:#e97fff;
    font-size: 1.15em;
    text-align: center;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent;
  }
  button{
    width: 100%;
    height: 100%;
    color:#701e96;
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0.05);
    cursor: pointer;
  }
}

@keyframes jump {
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(30px);
  }
  100%{
    transform: translateY(0);
  }
}

@keyframes rabbit-jump{
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(-2em);
  }
  100%{
    transform: translateY(0);
  }
}

@keyframes rabbit-shadow-jump{
  0%{
    background-color: rgba(0, 0, 0, 0.35);
    transform: scale(1);
  }
  50%{
    background-color: rgba(0, 0, 0, 0.25);
    transform: scale(0.75);
  }
  100%{
    background-color: rgba(0, 0, 0, 0.35);
    transform: scale(1);
  }
}

@keyframes ananas {
  0%{
    transform: rotate(-16deg);
  }
  50%{
    transform: rotate(16deg);
  }
  100%{
    transform: rotate(-16deg);
  }
}

// RWD

@media only screen and (min-width: 0){
  .m-block{
    display: block;
  }
  .kv{
    padding-bottom: 1em;
  }
  .roles{
    display: none;
  }
  .account-password{
    .note{
      line-height: 1.5;
    }
  }
  .game-grading {
    grid-template-columns: 1fr;
    dd{
      &:nth-child(1){
        text-align: center;
      }
    }
  }
  .lager-rocker{
    grid-template-columns: 1fr;
    gap: 0.5em;
    padding: 2em 1em;
    dd{
      text-align: center;
    }
  }
  .lrg-fb-gamer{
    align-items: center;
    justify-content: center;
    li{
      text-align: center;
    }
  }
  .footer{
    flex-direction: column;
    // grid-template-columns: 1fr;
    gap: 1rem;
    font-size: 0.85rem;
  }
}
@media only screen and (min-width: 500px) {
  .m-block{
    display: inline;
  }
  .roles{
    display: block;
    li{
      // 豬
      &:nth-child(1){
        display: none;
        // top: 70px;
        // left: calc(50% - 750px);
      }
      // 人類-女
      &:nth-child(2){
        top: -210px;
        left: calc(50% - 520px);
      }
      // 兔子
      &:nth-child(3){
        top: 460px;
        left: calc(50% + 180px);
        img{
          animation: rabbit-jump 0.3s ease-in-out infinite;
        }
        &::before{
          content: '';
          position: absolute;
          left: 12px;
          bottom: -3px;
          width: 48%;
          height: 15px;
          border-radius: 50%;
          background-color: rgba(0, 0, 0, 0.35);
          filter: blur(2px);
          animation: rabbit-shadow-jump 0.3s ease-in-out infinite;
        }
      }
      // 鳳梨
      &:nth-child(4){
        top: 366px;
        left: calc(50% + 250px);
        img{
          transform-origin: bottom center;
          animation: ananas 1.5s infinite;
        }
        &::before{
          content: '';
          position: absolute;
          left: 16px;
          bottom: -3px;
          width: 82%;
          height: 10px;
          border-radius: 50%;
          background-color: rgba(0, 0, 0, 0.35);
          filter: blur(2px);
        }
      }
    }
  }
}
@media only screen and (min-width: 700px) {
  .kv{
    padding-bottom: 5em;
  }
  .account-password{
    .note{
      line-height: 1.5;
    }
  }
  .game-grading {
    grid-template-columns: 90px 1fr;
    dd{
      &:nth-child(1){
        text-align: unset;
      }
    }
  }
  .lager-rocker{
    grid-template-columns: 1fr 2.5fr;
    gap: 1em;
    padding: 1em;
    dd{
      text-align: unset;
    }
  }
}

@media only screen and (min-width: 1000px){
  .roles{
    li{
      // 豬
      &:nth-child(1){
        display: block;
        top: 70px;
        left: calc(50% - 750px);
        animation: jump 1s infinite;
      }
      // 人類-女
      &:nth-child(2){
        top: -190px;
        left: calc(50% - 720px);
      }
      // 兔子
      &:nth-child(3){
        top: 240px;
        left: calc(50% + 420px);
      }
      // 鳳梨
      &:nth-child(4){
        top: 140px;
        left: calc(50% + 550px);
      }
    }
  }
  .footer{
    // flex-wrap: nowrap;
    flex-direction: row;
    // grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }
  .lrg-fb-gamer{
    align-items: unset;
    justify-content: unset;
    li{
      text-align: unset;
    }
  }
}
// @media only screen and (max-width: 600px){}