@charset "UTF-8";
@import "initial";

// 載入思源宋體 Medium
// font-family: 'Noto Serif TC', serif;
// font-weight: 500;

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@400;700&display=swap');


*{
  box-sizing: border-box;
  transition: padding 0.3s, top 0.3s, width 0.3s, max-width 0.3s, border-radius 0.3s;
}

.ossian{
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  padding: 2em 1em;
  max-width: 1920px;
  width: 100%;
  min-height: 100%;
  font-family: 'Noto Serif TC', serif;
  font-weight: 500;
  background-color: #49ab62;
  background-image: url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  em{
    font-style: normal;
  }
}

// 童話世界的 LOGO

.game-logo{
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  img{
    margin: 0 auto;
    padding: 1em 0 2em;
    max-width: 312px;
    width: 100%;
  }
}

// 遊戲內容

.game-content{
  padding-bottom: 5em;
}
.game-description{
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1em 1em 1.75em;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: white;
  border-radius: 0.75em;
  box-shadow: -1px -1px 1px rgba(102, 60, 45, 0.4) inset;
  &::before{
    content: '';
    position: absolute;
    top: -4px;
    left: -5px;
    width: 64px;
    height: 69px;
    background-image: url(../images/grass-1.png);
    background-repeat: no-repeat;
  }
  &::after{
    content: '';
    position: absolute;
    bottom: -5px;
    right: -6px;
    width: 64px;
    height: 69px;
    background-image: url(../images/grass-2.png);
    background-repeat: no-repeat;
  }
}
.game-title-row{
  flex: 1;
  color: #7e38a3;
  font-size: 1.385em;
}
.game-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  em{
    position: relative;
    display: block;
    font-size: 1.3333333em;
    &::before{
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 40%;
      background-color: #ccfbfe;
      mix-blend-mode: multiply;
    }
  }
}
.game-end-date-row{
  padding: 0.65em 0 1em;
  color: #a35638;
}
.form-position{
  margin: 0 auto;
  max-width: 200px;
  width: 100%;
}
.form-zone{
  position: relative;
  max-width: 350px;
  width: 100%;
  .input-text{
    padding: 0 0 0.5em;
    min-height: unset;
  }
  input[type="text"],
  input[type="password"]{
    margin-bottom: 0.5em;
    padding: 0.25em 0.5em;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 5px;
  }
}
.btn{
  font-size: unset;
  &.submit{
    width: 100%;
    font-size: 1em;
  }
  &.custom{
    padding: 0.35em 0.75em 0.55em;
    color: white;
    background: rgb(242,137,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(242,137,255,1) 0%, rgba(200,82,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(242,137,255,1) 0%,rgba(200,82,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(242,137,255,1) 0%,rgba(200,82,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f289ff', endColorstr='#c852ff',GradientType=0 ); /* IE6-9 */
    border: 1px solid #c75ff2;
    border-radius: 14px;
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.75) inset;
    &.submit{
      letter-spacing: 10px;
    }
  }
}
.front,
.back{
  font-weight: 700;
  font-size: 1.625em;
}
.close{
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background-image: url(../images/close.png);
  background-repeat: no-repeat;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

// popup

.popup-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 0.3s;
}

.popup-overlay.active {
  visibility: visible;
  opacity: 1;
  text-align: center;
}

.popup-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  padding: 2em 1em;
  // font-size: 26px;
  color: #3f2e6e;
  width: 100%;
  max-width: 350px;
  // min-height: 350px;
  border-radius: 1em;
  // backface-visibility: hidden;
  background-color: #fcecdf;
  box-shadow: 0 0 40px #e9c6a5 inset, -1px -1px 1px rgba(102, 60, 45, 0.65) inset;
  transition: opacity 0.3s, top 0.3s;

  .popup-close-style{
    position: absolute;
    top: 10px;
    right: 10px;
    display: block;
    font-size: 1.625em;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background-image: url(../images/close.png);
    background-repeat: no-repeat;
    background-size: 100%;
    // box-shadow: 0 3px 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
  .popup-close{
    font-size: 1.625em;
    font-weight: 800;
  }
}

.popup-content.active {
  /*Shows pop-up content when "active" class is present */
  visibility: visible;
}

// footer

.footer,
.footer *{
  font-family: $document-font-family;
  line-height: 1.25;
}
.footer{
  display: grid;
  // grid-template-columns: 1fr 1fr;
  // gap: 3rem;
  margin: 0 auto;
  padding: 0;
  // padding-top: 30em;
  max-width: 1700px;
  width: 100%;
}
.account-password{
  color: #b1ff9f;
  font-size: 1.25em;
  list-style-type: cjk-ideographic;
  .note{
    padding: 1em 0;
    color: black;
    font-size: 0.8em;
    // line-height: 1.5;
    mark{
      background-color: white;
      &.white{
        background-color: white;
      }
      &.green{
        color: white;
        background-color: #2a6a43;
        em{
          color: #affcff;
        }
      }
    }
  }
}

// 遊戲分級標章

.lgr-rkr{
  padding: 2em 0;
}
.game-grading{
  display: grid;
  // grid-template-columns: 90px 1fr;
  gap: 1em;
  margin: 0;
  padding: 0;
  dd{
    margin: 0;
    img{
      max-height: 90px;
      height: 100%;
    }
    ul{
      margin: 0;
      padding-left: 2em;
      li{
        padding-left: 0;
      }
    }
  }
}

// 雷爵及搖滾火箭

.lager-rocker{
  display: grid;
  // grid-template-columns: 1fr 2.5fr;
  // gap: 1em;
  margin: 0;
  // padding: 1em;
  color: #97d788;
  background-color: #479564;
  border-radius: 10px;
  dd{
    margin: 0;
    padding: 0;
  }
}

.lager-rocker-logo{
  display: flex;
  // flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 1em;
  margin: 0;
  padding: 0;
  list-style: none;
  li{
    max-height: 33px;
    a{
      display: block;
      text-decoration: none;
      img{
        height: 100%;
      }
    }
  }
}

// LRG 客服中心、FB粉絲團、巴哈姆特

.lrg-fb-gamer{
  display: flex;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
  list-style: none;
  li{
    padding: 0 1em;
    border-right: 1px solid #b1ff9f;
    &:nth-child(1){
      padding-left: unset;
    }
    &:nth-last-child(1){
      padding-right: unset;
      border-right: unset;
    }
    a{
      color: black;
      text-decoration: none;
      transition: color 0.3s, border-bottom 0.3s;
      &:hover{
        color: #b1ff9f;
        border-bottom: 1px dotted #b1ff9f;
      }
    }
  }
}

// RWD

@media only screen and (min-width: 0){
  .m-block{
    display: block;
  }
  .account-password{
    .note{
      line-height: 1.5;
    }
  }
  .game-grading {
    grid-template-columns: 1fr;
    dd{
      &:nth-child(1){
        text-align: center;
      }
    }
  }
  .lager-rocker{
    grid-template-columns: 1fr;
    gap: 0.5em;
    padding: 2em 1em;
    dd{
      text-align: center;
    }
  }
  .lrg-fb-gamer{
    align-items: center;
    justify-content: center;
    li{
      text-align: center;
    }
  }
  .footer{
    grid-template-columns: 1fr;
    gap: 1rem;
    font-size: 0.85rem;
  }
}
@media only screen and (min-width: 500px) {
  .m-block{
    display: inline;
  }
}
@media only screen and (min-width: 700px) {
  .account-password{
    .note{
      line-height: 1.5;
    }
  }
  .game-grading {
    grid-template-columns: 90px 1fr;
    dd{
      &:nth-child(1){
        text-align: unset;
      }
    }
  }
  .lager-rocker{
    grid-template-columns: 1fr 2.5fr;
    gap: 1em;
    padding: 1em;
    dd{
      text-align: unset;
    }
  }
}

@media only screen and (min-width: 1000px){
  .footer{
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }
  .lrg-fb-gamer{
    align-items: unset;
    justify-content: unset;
    li{
      text-align: unset;
    }
  }
}
// @media only screen and (max-width: 600px){}